//COLOUR
$color-primary:#D4135a;
$color-secoundary:#4A048B;
$color-tertiary: #71008D;
$color-grey-dark:#777;
$color-white:#fff;
$color-dark:#000;

$color-primary-light: #ffbb00df;
$color-primary-dark: #ff7830ea;

$color-secoundary-light:#89f077ed;
$color-secoundary-dark: #11996cea;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-1:#f7f7f7;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;



//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width :114rem;
$gap-vertical: 8rem;
$gap-horizontal: 6rem;
$gap-vertical-small:3rem;

