
.header .header__text-box .header-heading--top{

    display: block;
    font-size: 9rem;
    font-weight:400;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
    color: $color-white;
    animation: move-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone){

        letter-spacing: 1rem;
        font-size: 5rem;
    }
}

.header .header__text-box .header-heading--bottom{

    display: block;
    font-size: 2.1rem;
    font-weight:900;
    letter-spacing: 1.75rem;
    text-transform: uppercase;
    color: $color-white;
    animation-name: move-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-bottom: 6rem;

    @include respond(phone){

        letter-spacing: .5rem;
    }

}





.heading-secondary{

    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary,$color-secoundary,$color-tertiary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s ;

    @include respond(tab-port){

        font-size: 3rem;
    }

    @include respond(phone){

        font-size: 2.5rem;
    }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scaleY(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-dark , .4);
    }
}

.heading-fourtiary{

    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary,$color-secoundary,$color-tertiary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s ;
    margin-top: 15rem;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scaleY(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-dark , .4);
    }

}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-grey-dark;

}

p{

    color: $color-grey-dark;

}

.paragraph{
    font-size: $default-font-size;
    color: $color-grey-dark;


    &:not(:last-child){
        margin-bottom: 3rem;
    }
}